credentials.txt
linking chatbot dialogue flow and twilio.docx
SAM/.git
SAM/node_modules
SAM/ssam-chat-bot-moqi-7e8d83d698b6.json
SendiCoreCleaners/.git
SendiCoreCleaners/node_modules
SendiCoreCleaners/snedicors-cleaners-hloo-337c0b89ebbd.json
ClothelinesCleaners/.git
ClothelinesCleaners/node_modules
ClothelinesCleaners/clothesline-cleaners-ibls-e876bd9b57ce.json